<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="sfavicon.ico" type="image/x-icon" />
   <link rel="stylesheet" href="/about.css">
  <title>Sobre</title>
</head>

<body>
  <header>
    <div class="links">
      <a href="/">Página Inicial</a>
      <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
      <a href="mailto:oi@rocketseat.com.br" target="_blank">Email</a>
      <a href="tel:+5547992078767" target="_blank">Telefone</a>
      <a href="/">Conteúdo</a>
    </div>
  </header>

  <div id="wrapper">
    <img src="rocketseat.jpg" alt="rocketseat">
    <h1>Rocketseat</h1>
    <h2>Empresa de ensino em Tecnologia da Informação</h2>
    <p>Principais tecnologias utilizadas:</p>
    <ul>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>EcmaScript 6</li>
      <li>NodeJS</li>
      <li>React</li>
      <li>React Native</li>
    </ul>
  </div>

  <div id="links-footer">
    <a href="https://github.com/Rocketseat" target="_blank">GitHub</a>
    <a href="https://instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
    <a href="https://facebook.com/rocketseat/" target="_blank">Facebook</a>
  </div>
</body>

</html>