{% extends "layout.njk" %}

{% block content %}

  <div class="title course">
    <h1>Cursos - {{item.title}}</h1>
  </div>

  <section class="course">

    <div class="card" id="{{item.id}}">
      <div class="card-image-container">
        <img src="{{item.img}}" alt="Imagem de {{item.title}}">
      </div>
      <div class="card-tilte-container">
        <p class="tilte">{{item.title}}</p>
      </div>
      <div class="card-info">
        <p>Módulos: {{item.module}}</p>
        <p class="card-price">{{item.price}}</p>
      </div>
      <a href="{{item.url}}" target="_blank">Reserve a sua vaga</a>
    </div>

  </section>


{%endblock%}