@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #aaa;
}

header {
  background: #bbb;
  padding: 20px;
  border: 1px solid #666;
  font-family: 'Roboto' ;
}

body div a {
  text-decoration: none;
}

body div a:hover {
  color: red;
  transition: color 700ms;
}

div {
  padding: 30px;
  text-align: center;
  font-size: 20px;
}

div a {
  color: #fff;
  margin: 30px;
}


/* About */

#wrapper {
  text-align: center;
}

#wrapper img {
  margin-top: 20px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid gold;
}

#wrapper h1 {
  padding: 20px;
  font-size: 36px;
  text-decoration: underline gold;
}

#wrapper h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  opacity: 0.7;
}

#wrapper p {
  margin-top: 8px;
  font-size: 20px;
  padding-bottom: 12px;
  font-weight: bold;
}

#wrapper ul li {
  list-style-type: none;
  text-align: center;
  font-size: 18px;
  opacity: 0.9;
}

ul li::before {
  content: '✯';
  color: gold;
  position: relative;
  top: 1px;
  right: 5px;
}

#links-footer {
  background: #bbb;
  text-align: center;
}

#links-footer a {
  font-size: 18px;
  border-bottom: 1px solid gold;
  margin: 0 24px;
}



/* Content */

.header a {
  text-decoration: none;
  color: #FFF;
  margin: 30px;
}

.title {
  text-align: center;
  color: #eee;
  padding: 10px;
  text-decoration: underline;
  font-weight: bold;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background: #555;
  padding: 50px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 20px;
  border: 1px rgb(49, 49, 49) solid;
}

#starter:hover {
  border: 2px #7519c1 solid;
}

#launchbase:hover {
  border: 2px orange solid;
}

#gostack:hover {
  border: 2px rgb(26, 128, 0) solid;
}

.card-tilte-container,
.card-info,
.card-price {
  color: #AAA;
  font-family: Roboto;
}

.card-info {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
}

.card-price {
  background-color: #555;
  filter: brightness(90%);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
  margin-top: 10px
}
.card-tilte-container {
  padding-bottom: 20px;
}

/* MODAL */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: white;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}

.modal .close-modal {
  color: black;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

.modal .maximize-modal{
  color: black;
  position: absolute;
  right: 25px;
  top: 0;
  cursor: pointer;
}

/* MODAL ACTIVE */
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

iframe{
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.page-not-found h1 {
  color: #7519c1;
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
}

.page-not-found p {
  font-size: 35px;
  text-align: center;
  margin-top: 50px;
  color: #7519c1
}